@import "globals/occupancy-styles.scss";

.FloorRow {
  width: 100%;
  margin-bottom: $smallSpacing;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .floor-layout {
    background-color: $blueLight;
    border-left: 6px solid $blueMain;
    border-right: 6px solid $blueMain;
    border-top: 2px solid $blueMain;
    border-bottom: 2px solid $blueMain;
    width: 36px;
    height: 24px;
    -moz-transform: skew(63deg, -10deg);
    -webkit-transform: skew(63deg, -10deg);
    -o-transform: skew(63deg, -10deg);
    -ms-transform: skew(63deg, -10deg);
    transform: skew(63deg, -10deg);
  }

  .floor-content {
    margin-left: $largeSpacing;
  }
}