@import "globals/occupancy-styles.scss";

.Home {
  text-align: center;
  display: flex;

  .dialog {
    width: calc(100vw - 400px - 108px);
    height: calc(100vh - 64px - 72px);
    background-color: white;
    left: $mediumSpacing;
    bottom: $mediumSpacing;

    .dialog-test-content {
      width: calc(100% - 36px);
      height: 100%;
      display: grid;
      grid-gap: $mediumSpacing;
      grid-template-columns: 50% 50%;
      flex-wrap: flex;

      div {
        height: 100%;
      }
    }
  }

  .map {
    width: 100vw;
    height: calc(100vh - 64px);
  }

  .information-card {
    background-color: $background;
    position: absolute;
    bottom: $mediumSpacing;
    right: $mediumSpacing;
    height: calc(100vh - 64px - 72px);
    z-index: 1;
    display: flex;
    flex-direction: column;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: $tinySpacing;
    }

    .buffer {
      height: $tinySpacing;
      width: 100%;
    }

    .information-header {
      margin: $mediumSpacing;
      display: flex;
      flex-direction: row;
    
      h1 {
        margin-bottom: 0;
        font-size: 24px;
      }

      h1:hover {
        cursor: pointer;
      }

      p {
        margin-top: 4px;
        font-size: 1.6em;
      }

      & > div {
        margin-bottom: $tinySpacing;
      }
    }

    .information-tab-content {
      width: 100%;
      flex: 1 1;
      background-color: $white;

      & > div {
        display: flex;
        flex-direction: column;
        margin: $mediumSpacing;
        flex: 1 1;
        height: calc(100% - 72px);
      }

      .date-input {
        display: flex;
        flex-direction: row;
        margin-bottom: $tinySpacing;
        align-items: center;

        h3 {
          margin-bottom: 0;
          margin-right: $tinySpacing;
        }
      }
    }
  }

  .legend-card {
    position: absolute;
    bottom: $mediumSpacing;
    left: $mediumSpacing;
    z-index: 1;
    display: flex;
    flex-direction: column;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: $tinySpacing;
    }

    .buffer {
      height: $tinySpacing;
      width: 100%;
    }

    .legend-header {
      margin: $mediumSpacing;
      margin-bottom: 0;
      flex-direction: column;
    
      h1 {
        margin-bottom: 0;
      }
    }

    .legend-content {
      width: 100%;
      flex: 1 1;
      background-color: $white;

      & > div {
        display: flex;
        flex-direction: column;
        margin: $mediumSpacing;
        flex: 1 1;
        height: calc(100% - 72px);
      }
    }
  }

  .selected-building-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;

    & > div:first-child {
      margin-top: $microSpacing;
    }

    & > p {
      text-align: center;
      margin-top: 40%;
    }
  }  
}

.test {
  height: 500px !important;
  z-index: 1;
}