@import "globals/occupancy-styles.scss";

.Home {
  text-align: center;
  display: flex;

  .information-card {
    background-color: $white;
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: calc(100vh - 64px - 60px);
  }

  .selected-building-info {
    flex: 1;
  }

  p {
    text-align: center;
  }
}