.skeleton-pulse {
  display: inline-block;
  height: 100%;
  width: 100%;
  // background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
  // background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
  background: linear-gradient(-90deg, rgba(236, 236, 236, 0.8) 0%, rgba(248, 248, 248, 0.8) 50%, rgba(236, 236, 236, 0.8) 100%);
  background-size: 400% 400%;
  border-radius: 10px;
  animation: pulse 1.2s ease-in-out infinite;
}