@import "globals/occupancy-styles.scss";

.Card {
  background-color: $white;
  text-align: left;

  h1 {
    margin: 0;
  }

  .content-flex {
    margin: $mediumSpacing;
    display: flex;
    flex-direction: column;
    height: calc(100% - 72px);
  }
}