@import "globals/occupancy-styles.scss";

.OccupancyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $blueMain;
  height: 40px;
  width: 140px;
  border-radius: 25px;

  p {
    font-size: 16px;
  }
}

.OccupancyButton:hover {
  background-color: $blueHighlight;
}