@import "globals/occupancy-styles.scss";

.OccupancyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 140px;
  border-radius: 25px;

  p {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.occupancy-button-blue {
  color: white;
  background-color: $blueMain;
}

.occupancy-button-blue:hover {
  background-color: $blueHighlight;
}

.occupancy-button-white {
  color: $blueMain;
  background-color: white;
}

.occupancy-button-white:hover {
  background-color: rgb(215, 215, 215);
}

