@import "globals/occupancy-styles.scss";

.NumberFocus {
  .number-focus-number {
    font-size: 2.6em;
    margin: 0 !important;
  }

  .number-focus-subtitle {
    font-size: 1em;
    color: $darkGray;
  }

  .number-focus-last-updated {
    margin-top: .3em;
    font-size: .8em;
    color: $lightGray;

  }
}
