@import "globals/occupancy-styles.scss";

.FloorMap {
  height: calc(100vh - 64px);
  width: 100vw;
  display: flex;
  flex-direction: row;

  .floormap-map-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .floormap-canvas {
      width: 80%;
      height: 80%;
      border: 5px solid red;
    }
  }

  .floormap-margin {
    height: 100%;
    width: 472px;
  }
}