@import "globals/occupancy-styles.scss";

.FloorMap {
  height: calc(100vh - 64px);
  width: 100vw;
  display: flex;
  flex-direction: row;

  .floormap-map-wrapper {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;

    .floormap-canvas {
      width: calc(100% - 36px);
      height: calc(100% - 72px);
      margin-left: 36px;
    }
  }

  .floormap-margin {
    height: 100%;
    width: 472px;
  }
}