@import "globals/occupancy-styles.scss";

.Nav {
  width: 100%;
  height: $navbarHeight;
  background-color: $blueMain;
  color: white;

  div:nth-child(1) {
    margin-left: $tinySpacing;
  }

  ol {
    margin-left: $smallSpacing;
  }

  li > button {
    color: white;
  }

  li:last-child > button {
    color: white;
  }

  a {
    color: white !important;
  }

  h3:nth-child(n) {
    margin-right: $tinySpacing;
  }
}