@import "globals/occupancy-styles.scss";

.LegendRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: $smallSpacing;

  div {
    height: 20px;
    width: 20px;
    margin-left: $smallSpacing;
    margin-right: $smallSpacing;
  }
}

.LegendRow:last-child {
  margin-bottom: 0 !important;
}