@import "globals/occupancy-styles.scss";

.LegendRow {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: $microSpacing;

  p {
    line-height: 14px;
    margin-top: 3px;
  }

  div {
    height: 20px;
    width: 20px;
    margin-left: $smallSpacing;
    margin-right: $smallSpacing;
    margin-bottom: $tinySpacing;
  }
}

.LegendRow:last-child {
  margin-bottom: 0 !important;
}