@import "globals/occupancy-styles.scss";

.Dialog {
  position: absolute;
  display: flex;
  // background-color: $background !important;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  .dialog-navbar {
    height: 64px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > div {
      display: flex;
      align-items: flex-start;

      h3 {
        margin: 0;
        margin-left: $smallSpacing;
        margin-top: 10px;
      }
    }
    
    svg {
      font-size: 2.4em;
      cursor: pointer;
    }

    svg:hover {
      color: $lightGray;
    }
  }

  .dialog-content {
    flex: 1 1;
    margin-top: 0;

    div:last-child {
      margin-bottom: $mediumSpacing;
    }
  }

}