@import "globals/occupancy-styles.scss";

.Dialog {
  position: absolute;
  display: flex;
  // background-color: $background !important;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;

  .dialog-navbar {
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $background;

    & > div {
      display: flex;
      align-items: center;
      margin-left: $mediumSpacing;

      h3 {
        margin: 0;
        margin-left: $smallSpacing;
        margin-top: 7px;
      }
    }
    
    svg {
      font-size: 2em;
      align-self: center;
      margin-right: $smallSpacing;
    }

    svg:hover {
      cursor: pointer;
      color: $lightGray;
    }
  }

  .dialog-content {
    display: flex;
    width: 100%;
    height: calc(100% - 64px);
    margin-top: 0;

    // div:last-child {
    //   margin-bottom: $mediumSpacing;
    // }
  }

}