@import "globals/occupancy-styles.scss";

.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: $background;
  color: $fontColor;
  font-family: $font;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  body {
    transform: scale(1.1);
    transform-origin: 0 0;
    // add prefixed versions too.
 }

  h1              { font-size: 2em; margin: .67em 0 }
  h2              { font-size: 1.5em; margin: .75em 0 }
  h3              { font-size: 1.17em; margin: .83em 0 }
  h4              { font-size: 1em; margin: 1em }
  h5              { font-size: .83em; margin: 1.5em 0 }
  h6              { font-size: .75em; margin: 1.67em 0 }

  h1, h2        { font-weight: bolder }
  h3, h4, h5, h6 {font-weight: 400}

  .app-content {
    flex: 1;
  }
}